name: Python package (Conda)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        activate-environment: firatrovnet
        environment-file: environment.yml
        python-version: "3.10"

    - name: Verify environment
      shell: bash -l {0}
      run: |
        conda info
        conda list

    - name: Install package
      shell: bash -l {0}
      run: |
        pip install -e .

    - name: Lint with flake8
      shell: bash -l {0}
      run: |
        flake8 FiratROVNet

    - name: Test with pytest
      shell: bash -l {0}
      run: |
        pytest
